
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela", "sans-serif"!important;
  }
  
  html,
  body {
    background-color: #EAE7B1 !important;
  
  
  }
  .container-fluid {
    background: green;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo img {
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5vw;
  }
  .nav-link {
    color: black !important;
    font-size: large;
  }
  h3 a {
    text-decoration: none;
    color: green!important;
    
  
  }
  
  h3 a:hover{
    transition: 0.3s;
    font-size: xx-large ;
  }
  img:hover{
    transition: 0.5s ease-in-out; 
    transform: scale(1.1);
   
  }
  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #61876E;
    color: white;
  
  }
  
  .mission-values,
  .product-background,
  .team-introduction,
  .customer-testimonials,
  .contact-info {
    width: 80%;
    margin-bottom: 50px;
    text-align: center;
   
  }
  .customer-testimonials{
    background-color:#749d7b!important;
  }
  h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .team-introduction {
    display: flex;
    justify-content: space-around;
  }
  
  .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .team-member img {
    width: 10vw;
    height: 10vw;
    /* height: 200px; */
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .customer-testimonials {
    background-color:#749d7b;
    padding: 20px;
    border-radius: 10px;
  }
  .faq{
    
    opacity: 1.5;
  
  }
  .accordion-button.border-bottom.bg-dark.text-light{
  background-color:rgb(130, 168, 133)!important;
  color: white !important;;
  }
  #form{
    color: green;
    border-color: green;
    opacity: 0.7!important;
  }
  
  
  
  .footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2);
  
  }
  
  .cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(138, 192, 138);
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.5);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  
  
  
  
  
  /* .card.d-flex.justify-content-center.p-4.shadow-lg {
    background-color: #a6bb8d;
  }
  .card.card-plain {
    background-color: green;
  } */
  /* 
  
  
  .card.card-plain {
    background: lightgray !important;
  }
  .footer {
    background-color: green;
  }